
<body>
	<link rel="stylesheet" href="../stylesheets/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<title> SmartShop</title>
	<div class="headerHome">
		<div class="navBar">
			<a href="/">SmartShop</a>
			<div class="search">
				<form>
					<input type="text" placeholder="...">
					<button>Pesquisar</button>
				</form>
			</div>
		</div>
		<div class="logo">
						<!--<img src="" alt="">//-->
		</div>
		<div class="login-box">
			<div class="form">
			
				<form class="login-form">
					<input type="text" id="username" placeholder="email" />
					<input type="password" id="password" placeholder="password" />
					<input type="button" value="Login" id="submit"  onclick='checkUtilizador()'/>
					<input type="button" value="Register" id="submit"  onclick="location.href='register';">
				</form>
			</div>
		</div>
	</div>


	<div class="drop">
		<ul class="drop_menu" id="drop_menu">
			</ul>
	</div>

	<div class="wrapper" id="wrapper">
	  </div>






</body>
<script src="../javascripts/filtros.js"></script>