
<body>
	<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
	<!-- main --><link href="stylesheets/loginregisto.css" rel="stylesheet" type="text/css" media="all" />
<script src="javascripts/index.js"></script>
		        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<div class="main-w3layouts wrapper">
		<h1>SmartShop Login</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
		<input type="text" id="email" placeholder="Email"/>
      <input type="password" id="password" placeholder="password"/>
     <input type="submit" value="Login" id="submit"  onclick='checkUtilizador()'/>
      <p class="message">Not registered? <a href="/register">Create an account</a></p>
			</div>
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
		</div>
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body>
