<!DOCTYPE html>

<head>
	<link rel="stylesheet" href="./stylesheets/style.css">
</head>

<body>
	<div class="headerHome">
		<div class="navBar">
			<a href="login">SmartShop</a>
			<div class="search">
				<form>
					<input type="text" placeholder="...">
					<button>Pesquisar</button>
				</form>
			</div>
		</div>
		<div class="logo">
			<img src="logo_universidadeeuropeia_abr17-01.jpg" alt="HEY, FAZ UMA IMAGEM">
		</div>
		<div class="login-box">
			<div class="form">
				<img src="user.png">
				<p class="Util">Nome de Utilizador: Teste </p>
                <input id="carrinho" type="button" value="Carrinho" onclick="location.href='carrinho';" />
			</div>
		</div>
	</div>

	<div class="drop">
		<ul class="drop_menu">
			<li><a href='#'>Inicio</a></li>
			<li><a href='#'>Supermercados</a>
				<ul>
					<li><a href='#'>Continente</a></li>
					<li><a href='#'>Pingo Doce</a></li>
					<li><a href='#'>Aldi</a></li>
					<li><a href='#'>Lidl</a></li>
					<li><a href='#'>Intermache</a></li>
				</ul>
			</li>
			<li><a href='#'>Produtos</a>
				<ul>
					<li><a href='#'>Mercearia</a></li>
					<li><a href='#'>Carnes</a></li>
					<li><a href='#'>Cozinha</a></li>
					<li><a href='#'>Casa De Banho</a></li>
				</ul>
			</li>
            <li><a href='perfil'>Meu Perfil</a></li>

		</ul>
	</div>

	<div class="wrapper">
		<div class="box a"><img src="https://media.continente.pt/Sonae.eGlobal.Presentation.Web.Media/media.axd?resourceSearchType=2&resource=ProductId=6813890(eCsf$RetekProductCatalog$MegastoreContinenteOnline$Continente)&siteId=1&channelId=1&width=150&height=150&defaultOptions=1">
		Texto	</div>
		<div class="box b">B</div>
		<div class="box c">C</div>
		<div class="box d">D</div>
		<div class="box e">E</div>
		<div class="box f">F</div>
		<div class="box a">A</div>
		<div class="box b">B</div>
		<div class="box c">C</div>
		<div class="box d">D</div>
		<div class="box e">E</div>
		<div class="box f">F</div>
		<div class="box a">A</div>
		<div class="box b">B</div>
		<div class="box c">C</div>
		<div class="box d">D</div>
		<div class="box e">E</div>
		<div class="box f">F</div>
		<div class="box a">A</div>
		<div class="box b">B</div>
		<div class="box c">C</div>
		<div class="box d">D</div>
		<div class="box e">E</div>
		<div class="box f">F</div>
		<div class="box a">A</div>
		<div class="box b">B</div>
		<div class="box c">C</div>
		<div class="box d">D</div>
		<div class="box e">E</div>
		<div class="box f">F</div>
		<div class="box a">A</div>
		<div class="box b">B</div>
		<div class="box c">C</div>
		<div class="box d">D</div>
		<div class="box e">E</div>
		<div class="box f">F</div>
		<div class="box a">A</div>
		<div class="box b">B</div>
		<div class="box c">C</div>
		<div class="box d">D</div>
		<div class="box e">E</div>
		<div class="box f">F</div>
	  </div>






</body>