<!DOCTYPE html>

<head>
	<link rel="stylesheet" href="./stylesheets/style.css">
		<script src="javascripts/afterlogin.js"></script>
		        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>

<body>
	<div class="headerHome">
		<div class="navBar">
			<a href="login">SmartShop</a>
			<div class="search">
				<form>
					<input type="text" id="pesquisa"  placeholder="Pesquisa" onkeydown="enter()"/>
					<input type="button" value="Pesquisar" onclick='Pesquisar()' />
				</form>
			</div>
		</div>
		<div class="logo">
		</div>
		<div class="login-box">
			<div class="form">
				<img src="./images/user.png">
				<div id="textUtilizador">
				</div>
                <input id="carrinho" type="button" value="Carrinho" onclick="location.href='carrinho';" />
				 <input id="logout" type="button" value="Logout" onclick="location.href='/';" />
	
</div>
			<div class="popup" >
  <span class="popuptext" id="myPopup"></span>
  </div>
			</div>
		</div>
	</div>

	<div class="drop">
		<ul class="drop_menu" id="drop_menu">
			</ul>
	</div>

	<div class="wrapper" id="wrapper">
		
	  </div>






</body>