<<<<<<< HEAD

<body>
	<link rel="stylesheet" href="../stylesheets/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<title> SmartShop</title>
	<div class="headerHome">
		<div class="navBar">
			<a href="/login">SmartShop</a>
			<div class="search">
				<form>
					<input type="text" id="pesquisa"  placeholder="...">
					<input type="button" value="Pesquisar" onclick='Pesquisar()' />
				</form>
			</div>
		</div>
		<div class="logo">
						<!--<img src="" alt="">//-->
		</div>
		<div class="login-box">
			<div class="form">
				<img src="./images/user.png">
				<div id="textUtilizador">
				</div>
				<input id="carrinho" type="button" value="Carrinho" onclick="location.href='carrinho';" />
								 <input id="logout" type="button" value="Logout" onclick="location.href='/';" />

			</div>
		</div>
		</div>
	</div>


	<div class="drop">
		<ul class="drop_menu" id="drop_menu">
			</ul>
	</div>

	<div class="wrapper" id="wrapper">
	  </div>






</body>
<script src="../javascripts/marca.js"></script>
=======

<body>
	<link rel="stylesheet" href="../stylesheets/style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<title> SmartShop</title>
	<div class="headerHome">
		<div class="navBar">
			<a href="/login">SmartShop</a>
			<div class="search">
				<form>
					<input type="text" id="pesquisa"  placeholder="...">
					<input type="button" value="Pesquisar" onclick='Pesquisar()' />
				</form>
			</div>
		</div>
		<div class="logo">
						<!--<img src="" alt="">//-->
		</div>
		<div class="login-box">
			<div class="form">
				<img src="./images/user.png">
				<div id="textUtilizador">
				</div>
				<input id="carrinho" type="button" value="Carrinho" onclick="location.href='carrinho';" />
								 <input id="logout" type="button" value="Logout" onclick="location.href='/';" />

			</div>
		</div>
		</div>
	</div>


	<div class="drop">
		<ul class="drop_menu" id="drop_menu">
			</ul>
	</div>

	<div class="wrapper" id="wrapper">
	  </div>






</body>
<script src="../javascripts/marca.js"></script>
>>>>>>> master
		<script src="javascripts/geral.js"></script>