<!DOCTYPE html>

<head>
	<link rel="stylesheet" href="./stylesheets/style.css">
	<script src="javascripts/ranking.js"></script>
		        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
	<div class="headerHome">
		<div class="navBar">
			<a href="Login">SmartShop</a>
			<div class="search">
				<form>
					<input type="text" placeholder="...">
					<button>Pesquisar</button>
				</form>
			</div>
		</div>
		<div class="logo">
			<img src="logo_universidadeeuropeia_abr17-01.jpg" alt="HEY, FAZ UMA IMAGEM">
		</div>
		<div class="login-box">
			<div class="form">
				<img src="./images/user.png">
				<div id="textUtilizador">
				</div>
                <input id="carrinho" type="button" value="Carrinho" onclick="location.href='carrinho';" />
			</div>
		</div>
	</div>

<div class="drop">
		<ul class="drop_menu" id="drop_menu">
			</ul>
	</div>
	<div>
        <table id="Ranking">
		</table>
	</div>
</body>