<body>
	<link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
	<!-- main --><link href="stylesheets/register.css" rel="stylesheet" type="text/css" media="all" />
<script src="./javascripts/registo.js"></script>
		        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<div class="main-w3layouts wrapper">
		<h1>SmartShop Registo</h1>
		<div class="main-agileinfo">
			<div class="agileits-top">
					<input class="text" id="username" type="text" name="Username" placeholder="Username" required="">
					<input class="text email" id="email" type="email" name="email" placeholder="Email" required="">
					<input class="text" type="password" id="password" name="password" placeholder="Password" required="">
					<input type="submit" onclick='registo()' value="REGISTO">
			</div>
		</div>
		<!-- copyright -->
		<div class="colorlibcopy-agile">
			<p>© 2018 Colorlib Signup Form. All rights reserved | Design by <a href="https://colorlib.com/" target="_blank">Colorlib</a></p>
		</div>
		<!-- //copyright -->
		<ul class="colorlib-bubbles">
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div>
	<!-- //main -->
</body>
