<!DOCTYPE html>

<head>
	<link rel="stylesheet" href="./stylesheets/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

	<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />

		
	  <script src="./javascripts/leaflet-routing-machine.js"></script>
	  <link rel="stylesheet" href="./stylesheets/leaflet-routing-machine.css">
			        

<link rel="stylesheet" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<script src="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.js"></script>


</head>

<body>
	<div class="headerHome">
		<div class="navBar">
			<div class="search">
				
					<input type="text" id="pesquisa"  placeholder="...">
					<input type="button" value="Pesquisar" onclick='Pesquisar()' />
				
			</div>
		</div>
			<div class="logo">
			<img src="./images/SmartShopLogo.png" alt="HEY, FAZ UMA IMAGEM">
		</div>
		<div class="login-box">
			<div class="form">
				<img src="./images/user.png">
				<div id="textUtilizador">
				</div>
				<div id="textCarrinho">
				</div>
                <input id="carrinho" type="button" value="Carrinho" onclick="location.href='carrinho';" />
								 <input id="logout" type="button" value="Logout" onclick="location.href='/';" />

	
</div>
</div>

<div class="drop">
		<ul class="drop_menu" id="drop_menu">
			</ul>
	</div>
	</div>

	<div id="map" class="mapDiv">

	</div>
	<script src="javascripts/trajeto.js"></script>
			<script src="javascripts/geral.js"></script>